body {
    margin: 0 auto;
    width: 60%;
    height: 100px;
}

.container {
    width: 100%;
    height: 100px;
    background-image: url('img/pattern.png');
    background-size: 250px;
    background-color: #2a97db;
}

.logo-intestazione {
    width: 200px;
    height: 100px;
}

h1 {
    margin-bottom: 0;
}

.author {
    font-size: 20px;
    color: lightgray;
    margin-top: 0;
}

a {
    text-decoration: none;
}

.data-articolo {
    font-size: 12px;
    color: lightgray;
    margin-top: 0;
}

figure {
    margin-left: 0;
}

.didascalia-immagine {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.sottolineatura-paragrafo {
    background-color: yellow;
}

ul {
    margin-left: -25px;
}

table {
    border-spacing: 0;
}

#cella-1 {
    width: 25%;
}

#cella-2 {
    width: 25%;
}

.colore-intestazione-tabella {
    background-color: #24b5da;
}

.colore-corpo-tabella {
    background-color: aqua;
}